
/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    background-image:url(../images/public/background.jpg);
    position: relative;
}

.container{
    width: 90%;
    margin: auto;
}
.display{
    display: flex;
}
.margin{
    margin-top: 90px;
}
.space-between-sections{
    height: 150px;
}
a{
    text-decoration: none;
}
button , input{
    font-family: inherit;
}
/* Ending of the General */
/*  Style of the header Part */
/*   393e46   , 00adb5 ,   aad8d3 , eeeeee , ffb4b4 ,  ff9292 ,   ffdcdc , 126e82  , 132c33, from( #333 to #ccc)*/
.header{
    width: 100%;
    height: 85px;
    line-height: 80px;
    z-index: 2;
}
.header.color{
    background: #eeefff;
    box-shadow: 1px 1px 1px #eeee;

}
.background{
    background:#fff;
    box-shadow: 1px 2px 3px #eeee;
}
.logo{
    width: 20%;
}
.logo img{
    width: 60%;
    height: 60%;
    margin-top: 10px;
}
.nav{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 50%;
}
.nav a {
    color: #555;
    padding: 5px;
    transition: all .6s;
}
.signin-signup{
    width: 45%;
    direction: ltr;
}
#signin , #signup{
    outline: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 25px;
    transition: all .6s;
    cursor: pointer;
}
#signin{
    border: 1px solid #555;
    color: #555;
    background: transparent;
}
#signup{
    border: 0;
    margin-left: 5px;
    background: #00adb5;
    color: #fff;
}
#signin:hover , #signup:hover{
    background:#132c33 ;
    color: #fff;
}

.signout {
    width: 45%;
    direction: ltr;
}

#signout {
    outline: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 25px;
    transition: all .6s;
    cursor: pointer;
}

.signout img {
    width: 8%;
    height: 30%;
    margin-left: 10px;
}

.signout #profileEmail {
    color: #00adb5;
    font-weight: bold;
}

#signout {
    border: 1px solid #555;
    color: #555;
}

#signout:hover {
    background: #132c33;
    color: #fff;
}

ul.nav li a:hover{
    color:#00adb5 ;
}
/*  THE END OF HEADER STYLING*/
/**************************************************/
/**************************************************/
/* layer*/
.layer{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: #000;
    opacity: .7;
    z-index: -1;
    height: 100vh;
}
/* form*/
.form-container {
    width: 46%;
    background-color: rgba(238, 238, 238, .85);
    padding: 20px 30px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 10px;
}

.form-container .title {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.form-container .title::after {
    content: "";
    height: 3px;
    width: 60px;
    border-radius: 5px;
    background: #00adb5;
    margin: auto;
    display: block;
}

.content{
    width: 100%;
    text-align: center;
}
.content .user-details {
    margin: 20px auto;
    text-align: center;
    width: 84%;
}

.user-details .input-box {
    margin: auto;
    margin-bottom: 15px;
}

.input-box span.details {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: right;
    width: 60%;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    padding-right: 15px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border: solid 2px #00adb5;
}

.button {
    height: 45px;
    margin: 35px;
    width:100%;
    margin: auto;
}

.button input {
    height: 100%;
    width: 84%;
    border-radius: 50px;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Tajawal', sans-serif;
    background: #00adb5;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px;
    transition: all .6s ease;
}

.button input:hover {
    background: #132c33;
}

/* .or {
    text-align: center;
    margin-top: 20px;
} */
.button-container{
    width: 100%;
    text-align: center;
}
.btn {
    height: 45px;
    width: 84%;
    margin-bottom: 10px;
    border-radius: 50px;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Tajawal', sans-serif;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px;
    transition: all .6s ease;
}

.facebook {
    background-color: #1877f2;
}

.gmail {
    background-color: #db4437;
}

.btn:hover {
    opacity: .7;
}

.join {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.join a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.join a:hover {
    color: #00adb5;
}